
  <div class ="bottom-ftr text-center" style="width: 100%;">
    
    <div class="social-icons-box">


      <div class="social-icons">
        <ul>
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/login"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
         <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li> 
        </ul>
        
      </div>
    
    </div>

    <div class="row" style="width: 100%;">
        <div class="col-md-12">Copyright &copy; 2020 PharmEasy, All Rights Reserved.</div>
    </div>
  </div>
