<div class="card">
    <div class="card-header">
        {{title}}
    </div>
</div>

  <div class="card-body">


    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover"> 

        <thead class="thead-custom">
            <tr>
              <th>
                <button class="btn btn-custom"
                (click)='toggleImage()'>
                {{showImage? 'Show' : 'Show'}} Prescription
                </button>
              </th>
              <th>NAME</th>
              <th>AGE</th>
              <th>PLACE</th>
              <th>PHONE NUMBER</th>
              <th>MEDICINE NAME </th>
              <th>DOCTOR'S NAME</th>
              <!-- <th>PRESCRIPTION</th> -->
            </tr>
        </thead>

        
          <tbody>
            <tr 
            *ngFor='let order of orders'>
            <td><img src={{order.prescription}} width="200px" height="200px"/></td>
               <td>{{ order.name }}</td>
               <td>{{ order.age }}</td>
               <td>{{ order.place }}</td>
               <td>{{ order.phoneNumber }}</td>
               <td>{{ order.medicineName }}</td>
               <td>{{ order.doctorsName }}</td>
            </tr>
          </tbody>        
    </table>
  </div>
</div>

